.hidden { display: none !important; }

.warning {
    border: 2px solid red !important;
    background-color: pink !important;
}

html, body {
    background: #E2E2E2;
    padding: 0;
    margin: 0;
    font: 12pt sans-serif;
    color: #333;
}

.wrapper {
    padding-top: 1%;
}

#main {
    max-width: 700px;
    width: 98%;
    /*float: right;*/
    margin-left: auto;
    margin-right: auto;
}

#sidebar {
    float: left;
    width: 19%;
}

#sidebar ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.white_bg {
    padding: 15px;
    background: white;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
    border: none;
}

.input {
    outline: none;
    display: inline-block;
    font-size: inherit;
    height: 5%;
    width: 100%;
    margin-bottom: 1%;
}

.input.heading {
    font-size: 150%;
    height: 7%;
}

.input.body {
    height: 71%;
    min-height: 250px;
    font-family: monospace;
}

.tags {
    margin-bottom: 2%;
    float: left;
    width: 92%
}

.tag {
    display: inline-block;
    background-color: grey;
    color: white;
    border-radius: 2px;
    padding: 5px 6px 5px 6px;
    margin: 3px;
    text-decoration: none;
}

button.submit {
    float: right;
    border: none;
    height: 6%;
    display: block;
    margin-left: auto;
    margin-right: 0;
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
}

button.submit:hover {
    text-decoration: underline;
}
